<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.niu.z1807688.bookreservation">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookReservation">
        <activity android:name=".ui.admin.CheckUserActivity"></activity>
        <activity android:name=".ui.student.ReturnActivity" />
        <activity android:name=".ui.student.RequestBookActivity" />
        <activity android:name=".ui.admin.SearchActivity" />
        <activity android:name=".ui.admin.AllBooksActivity" />
        <activity android:name=".ui.admin.AddBookActivity" />
        <activity android:name=".ui.admin.AdminActivity" />
        <activity android:name=".ui.student.StudentActivity" />
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".auth.LoignActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>